apiVersion: v1
kind: Secret
metadata:
  name: maintainerd-web-bff-env
  namespace: maintainerd
type: Opaque
stringData:
  WEB_APP_BASE_URL: ${WEB_APP_BASE_URL}
  GITHUB_OAUTH_REDIRECT_URL: ${GITHUB_OAUTH_REDIRECT_URL}
  GITHUB_OAUTH_CLIENT_ID: ${GITHUB_OAUTH_CLIENT_ID}
  GITHUB_OAUTH_CLIENT_SECRET: ${GITHUB_OAUTH_CLIENT_SECRET}
  SESSION_COOKIE_NAME: ${SESSION_COOKIE_NAME}
  SESSION_COOKIE_DOMAIN: ${SESSION_COOKIE_DOMAIN}
  SESSION_COOKIE_SECURE: "${SESSION_COOKIE_SECURE}"
