---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - maintainer-d.cncf.io
  resources:
  - codescannerfossas
  - codescannersnyks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - maintainer-d.cncf.io
  resources:
  - codescannerfossas/finalizers
  - codescannersnyks/finalizers
  verbs:
  - update
- apiGroups:
  - maintainer-d.cncf.io
  resources:
  - codescannerfossas/status
  - codescannersnyks/status
  verbs:
  - get
  - patch
  - update
