.main {
  max-width: 100%;
  margin: 0 auto;
  padding: 36px 24px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 600px) {
  .main {
    padding: 24px 16px 48px;
  }
}
