{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: maintainerd
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.className | quote }}
    argocd.argoproj.io/sync-wave: {{ .Values.ingressSyncWave | quote }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: Prefix
            backend:
              service:
                name: maintainerd
                port:
                  number: {{ .Values.service.port }}
{{- end }}
